[init]
	defaultBranch = main
[user]
	name = John McLevey
	email = mclevey@mun.ca
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = meld
[filter "nbstripout"]
	clean = nbstripout
	smudge = cat
	required = true